./venv/
.idea/
./.git/
./.vscode/
./.env/
*/__pycache__
.ipynb_checkpoints
experiment_output*
./experiment_output_greedy/
./experiment_output_exhaustive/
./experiment_output_coverage/
experiment_output
experiment_output_coverage
experiment_output_exhaustive
experiment_output_greedy
evaluation/__pycache__
realkd/__pycache__
experiments/__pycache__
